@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-Medium.woff2') format('woff2'),
        url('/assets/fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
