.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    width: 100%;
}

.cell {
    align-items: center;
    display: flex;
    grid-column-end: span 4;
    grid-column-start: auto;

    &--quarter {
        grid-column-end: span 1;
    }

    &--three-quarters {
        grid-column-end: span 3;
    }

    &--col-start-3 {
        grid-column-start: 3;
    }
}
