.result {
    font-size: 4rem;
    overflow: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: right;
    transition: font-size 300ms ease;
    width: 100%;

    &--smaller {
        font-size: 3.4rem;
    }

    &--smallest {
        font-size: 2.7rem;
    }
}
